<header id="main-header">
	<div class='color-bar'>
		<span class='red'></span>
		<span class='pink'></span>
		<span class='green'></span>
		<span class='orange'></span>
		<span class='violet'></span>
		<span class='blue'></span>
	</div>
	
	<div class="container-fluid">
   		<section class="row centered-content">
   			<div class="col-xs-2 col-sm-2 col-md-4 col-lg-4 text-left">
	   			<div class="hidden-xs hidden-sm logo inline-children" ng-click="ctrl.goToHome()">
					<span class="clickable" ng-click="ctrl.openHomePage()">
						<img src='style/img/logo_simple.png' alt='Word Storm Logo' title='Word Storm'/>
						<h1 translate="application.title"></h1>
					</span>
				</div>
				
				<div class="text-left hidden-md hidden-lg logo inline-children">
					<img src='style/img/logo_simple.png' alt='Word Storm Logo' title='Word Storm' class="clickable" ng-click="ctrl.openHomePage()"/>
				</div>	
  			</div>
  			<div class="hidden-xs hidden-sm col-md-3 col-lg-3 text-center">
  				<word-search ng-if="::ctrl.displaySearchBar"></word-search>
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-right inline-children">
  				<div class="logged-user-info" ng-if="ctrl.userData.data.Email" translate="navbar.loggedUserInfo" translate-value-user="{{ctrl.userData.data.Email}}"></div>
  			
  				<button class="button button-action" type="button" ng-click="ctrl.openUploadFile()"  ng-if="ctrl.isPersonLogged()"
  					uib-tooltip="{{::'navbar.uploadFile.tooltip' | translate}}" tooltip-placement="bottom"
  				>
  					<span translate="navbar.uploadFile"></span>
  				</button>
  				
  				<br class="hidden-sm hidden-md hidden-lg"/>
  				
  				<a class="rounded-navbar-button android" 
  					ng-href='{{::ctrl.getDownloadAndroidApkLink()}}' target="_self" download="{{::'mobile.download.androidFilename' | translate}}"
  					uib-tooltip="{{::'mobile.download.androidApplication' | translate}}" tooltip-placement="bottom-right"
  				></a>
  				
  				<button class="rounded-navbar-button" ng-click="ctrl.openContactUs()" ng-if="ctrl.isPersonLogged()"
  					uib-tooltip="{{::'contactUs.pageLink' | translate}}" tooltip-placement="bottom-right"
  				>
  					<span class="glyphicon glyphicon-envelope"></span>
  				</button>
  				
  				<button class="rounded-navbar-button" ng-click="ctrl.logout()" ng-if="ctrl.isPersonLogged()"
  					uib-tooltip="{{::'userPanel.logout' | translate}}" tooltip-placement="bottom-right"
  				>
  					<span class="glyphicon glyphicon-off"></span>
  				</button>
 			</div>
   		</section>

		<ul class="main-menu" ng-if="ctrl.isPersonLogged()">
			<li ng-class="{'active' : ctrl.isMyLibraryOpened()}" ng-click="ctrl.openMyLibrary()" translate="navbar.yourLibrary"></li>
		</ul>
 	</div>
</header>