<div class="full-height container-fluid">
	<div class="full-height row">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 centered-content">
			<div class="full-width application-info">
				<h1 translate="application.title"></h1>
				<h2 translate="application.motto"></h2>
				<iframe class="youtube-video hidden-xs hidden-sm" src="https://www.youtube.com/embed/GEQhDeNyM8s" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="full-height col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<section class="main-panel">
				<user-panel></user-panel>
			</section>
			<section class="main-panel">
				<register-panel></register-panel>
			</section>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
	</div>
</div>