<page scrollable-body="true" is-loading="ctrl.isLoading()" disallow-not-logged="true">
	<page-header>
		<div class='link-tree'>
			<h1 class='previous-link' ng-click="ctrl.showAllCollections()">
				<span translate='myLibrary.title'></span>
			</h1>
			<h2 ng-switch="::ctrl.view">
				<span ng-bind="::ctrl.collection.Name" ng-switch-when="edit"></span>
				<span translate='myLibrary.addNewCollection.title' ng-switch-default></span>
			</h2>
		</div>
	</page-header>
	<page-header-right>
		<div class='buttons'>
			<button type='button' class='button' ng-click='ctrl.showAllCollections()'>
				<span class='glyphicon glyphicon-remove'></span>
			</button>
		</div>
	</page-header-right>
	<page-body>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-xs-1 col-sm-1 col-md-3 col-lg-3'></div>
				<div class='col-xs-10 col-sm-10 col-md-6 col-lg-6'>
					<form name='collectionForm' class='form-horizontal no-group-margins with-top-space'>
						<form-field name="name" type="input" is-required="true"
							placeholder="myLibrary.addNewCollection.form.collectionName.placeholder"
							label="myLibrary.addNewCollection.form.collectionName"
							use-auto-focus="true"
							model="ctrl.addCollectionFormData.Name"
							error-occured="collectionForm.name.$touched && collectionForm.name.$invalid"
						>
							<field-errors>
								<span class='error'
										ng-if="collectionForm.name.$touched && collectionForm.name.$error.required"
										translate="userPanel.form.error.emptyField">
									</span> 
							</field-errors>
						</form-field>
						
						<form-field name="public" type="checkbox"
							label="myLibrary.addNewCollection.form.public"
							model="ctrl.addCollectionFormData.IsPublic"
							tooltip="myLibrary.addNewCollection.form.public.tooltip"
						></form-field>
						
						<section class='buttons text-center'>
							<button type="button" class='button button-action'
									ng-click = "ctrl.clearForm(collectionForm)"
									ng-disabled="!ctrl.hasChanged() || ctrl.formSending"
									translate="button.clear">
							</button>
							<button type="submit" class='button button-action' 
									ng-click="ctrl.sendForm(collectionForm)"
									ng-disabled="!ctrl.canSave() || ctrl.formSending"
									ng-switch="::ctrl.view">
									<span class='glyphicon glyphicon-refresh glyphicon-spin' ng-if="ctrl.formSending"></span>
									<span translate="button.create" ng-switch-default></span>
									<span translate="button.save" ng-switch-when="edit"></span>
							</button>
						</section>
					</form>
				</div>
				<div class='col-xs-1 col-sm-1 col-md-3 col-lg-3'></div>
			</div>
		</div>
	</page-body>
</page>