<page page-class='collection-page' scrollable-body="true" is-loading="ctrl.isLoading()" disallow-not-logged="true">
	<page-header>
		<div class='link-tree'>
			<h1 class='previous-link' ng-click="ctrl.showAllCollections()">
				<span translate='myLibrary.title'></span>
			</h1>
			<h2 ng-if="!ctrl.isLoading()">
				<span ng-bind="ctrl.collection.Name"></span>
			</h2>
		</div>
	</page-header>
	<page-header-right>
		<div class='buttons'>
			<button type='button' class='button' ng-click='ctrl.showAllCollections()'>
				<span class='glyphicon glyphicon-remove'></span>
			</button>
		</div>
	</page-header-right>
	<page-body>
		<div class="vertical-grid">
			<div class="big-round-button text-center" ng-if="ctrl.collection.TotalWords > 0">
			<button type='button' class='button button-action' ng-click="ctrl.editCollection()"
				uib-tooltip="{{::('myLibrary.collection.edit' | translate)}}" tooltip-placement="bottom"
			>
				<span class='glyphicon glyphicon-pencil'></span>
			</button>
			<button class="button button-action big" ng-click="ctrl.openLearning(ctrl.collection.Id, ctrl.collection.Name, ctrl.getCurrentTier())"
				uib-tooltip="{{::('myLibrary.collection.playLearn' | translate)}}" tooltip-placement="bottom"
				ng-disabled="5 == ctrl.getCurrentTier()"
			>
				<span class="glyphicon glyphicon-education"></span>
			</button>
			<button type="button" class="button button-action" 
				uib-tooltip="{{::('myLibrary.collection.add' | translate)}}" tooltip-placement="bottom"
				ng-click="ctrl.addWord(ctrl.collection.Id, ctrl.collection.Name)">
					<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		<div>
			<div class="full-height row">
				<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
					<section class="tiers-menu-container">
						<h3 translate="myLibrary.collection.tiers"></h3>
						<ul class="tiers-menu">
							<li ng-repeat="tier in ::ctrl.getTiersList()" ng-click="ctrl.changeCurrentTier(tier)"
								ng-class="{'active' : tier == ctrl.getCurrentTier(), 'disabled' : !ctrl.isTierActive(tier)}"
							>
								<span ng-bind="::tier"></span>
							</li>
							
							<li ng-click="ctrl.changeCurrentTier(5)"
								ng-class="{'active' : 5 == ctrl.getCurrentTier(), 'disabled' : !ctrl.isTierActive(5)}"
							>
								<span translate="myLibrary.collection.tiers.knownWords"></span>
							</li>
						</ul>
					</section>
				</div>
				<div class="full-height col-xs-12 col-sm-12 col-md-11 col-lg-11">
					<listable-data list="ctrl.collection.Words"
						display-directive-name="word-tile"
						refresh-data-action="ctrl.refreshCollection(true, true)"
						display-directive-parameters="ctrl.parametersForWords"
						filter-function="ctrl.wordsListFilter"
						reduce-list-function="ctrl.reduceWordsToTier"
						scrollable-body="true"
						events="ctrl.listableDataEvents"
						no-view-change="true"
						view="list"
						no-buttons="true"
					>
						<listable-data-header-right>
							<button class='button button-action red one-line'
									ng-disabled="ctrl.isRemovingWords()"
									ng-if="ctrl.isAnyWordSelected()"
									ng-click="ctrl.removeSelectedWords()"
							>
								<span class="glyphicon" 
									ng-class="{'glyphicon-spin glyphicon-refresh' : ctrl.isRemovingSelected(),
											   'glyphicon-remove' : !ctrl.isRemovingSelected()}">
								</span>
								<span translate="myLibrary.buttons.removeSelected" translate-value-count="{{ctrl.parametersForWords.selectedItems.length}}"></span>
							</button>
						</listable-data-header-right>
						<listable-data-empty-list>
							<span translate="myLibrary.noCollectionsAfterFiltering"  ng-if="ctrl.collection.TotalWords > 0"></span>
							<span  ng-if="ctrl.collection.TotalWords == 0">
								<p translate="collection.noWords"></p>
								<button type="button" class="button button-action red" 
									ng-click="ctrl.addWord(ctrl.collection.Id, ctrl.collection.Name)">
										<span class="glyphicon glyphicon-plus"></span>
										<span translate="collection.addWord"></span>
								</button>
							</span>
						</listable-data-empty-list>
					</listable-data>
				</div>
			</div>
		</div>
		</div>
	</page-body>
</page>