/* Main header */
#main-header{
	width: 100%;
}

#main-header .color-bar{
	height: 2px;
}

#main-header .color-bar > *{
	width: 16.6666666%;	
}

#main-header .navbar-inverse{
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

#main-header .search-bar{
	background: rgba(255, 255, 255, 0.09);
	border: none;
	text-align: left;
}

#main-header .search-bar,
#main-header .search-bar input{
    color: #dbe0e4;
}

#main-header h1{
	display: inline-block;
	vertical-align: middle;
}

#main-header .navbar-inverse .navbar-toggle{
	vertical-align: middle;
}

#main-header .logo img{
	max-width: 90px;
	margin-right: 15px;
    padding: 13px 0;
	transition: 0.5s;
}

#main-header .logo h1{
	margin: 0; 
	color: #fff;
	padding: 0;
	font-family: 'Crete Round', serif;
}

#main-header .page-subtitle{
	color: #f5f5f5;
	font-weight: normal;
	font-size: 30px;
	margin-left: 10px;
    margin-bottom: 15px;
}

#main-header .main-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#main-header .main-menu li{
	display: inline-block;
    color: #f5f5f5;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    min-width: 150px;
    transition: 0.3s;
    margin-top: 5px;
}

#main-header .main-menu li:not(.active):hover{
	background: #bb1414;
    cursor: pointer;
}

#main-header .main-menu li.active{
	border-color: #bb1414;
}

#main-header .main-menu li.active:hover{
	border-color: #f5f5f5;
}

#main-header .user-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#main-header .dropdown-menu{
	min-width: 250px;
	left: auto;
	right: 0;
	margin-top: 20px;
	border-radius: 0;
	border-color: transparent;
	padding: 0;
	color: #000;
}

#main-header .dropdown-menu::after{
	position: absolute;
	content: "";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	top: -5px;
    right: 20px;
}

#main-header .dropdown-menu .user-name{
	padding: 10px 20px;
}

#main-header .dropdown-menu  li{
 	padding: 5px 20px;
 	transition: 0.3s;
}

#main-header .dropdown-menu  li:hover{
	cursor: pointer;
	background: #f5f5f5;
}

#main-header .dropdown-menu .glyphicon{
    font-size: 16px;
    margin-right: 10px;
    top: 2px;
}

#main-header .dropdown-menu .dark{
	background: #646671;
    color: #fff;
    padding: 10px 20px;
}

#main-header .dropdown-menu li.dark:hover{
	background: #504b4b;
}

#main-header .dropdown-menu li.link{
	padding: 0;
}

#main-header .dropdown-menu li.link > a{
	padding: 10px 20px;
	display: block;
}

#main-header .button-action{
	background: #456785;
}

#main-header .rounded-navbar-button{
    width: 50px;
    height: 50px;
    border: none;
    display: inline-block;
    border-radius: 50%;
    background-color: #b93a46;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    outline: none;
    transition: 0.3s;
    font-size: 20px;
    color: white;
}

#main-header .rounded-navbar-button .glyphicon{
	top: 2px;
}

#main-header .rounded-navbar-button{
	margin-right: 10px;
}

#main-header .rounded-navbar-button:hover{
	background-color: #dc1717;
}

#main-header .rounded-navbar-button.android{
	background-image: url('../../images/android-logo.png');
}

#main-header .logged-user-info{
	display: block;
	text-align: right;
	color: #fff;
	margin: 5px 15px;
	font-size: 12px;
}