.link-tree {
	display: block;
}

.link-tree > *{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

.link-tree > * > *{
	white-space: normal;
}

.link-tree > *:not(:first-child)::before{
	content: "/";
	padding: 0 2%;
	display: inline;
}

.in-slashes::before, .in-slashes::after{
	content:"/";
}

.separated-with-comma > *:not(:last-child)::after{
	content: ",";
	padding-right: 5px;
}

.in-parenthesis::before{
	content:"(";
}

.in-parenthesis::after{
	content:")";
}