<page page-class='collection-page' scrollable-body="true" is-loading="ctrl.isLoading()">
	<page-header>
		<div class='link-tree'>
			<h1 class='previous-link' ng-click="ctrl.showAllCollections()">
				<span translate='myLibrary.title'></span>
			</h1>
			<h2 ng-if="!ctrl.isLoading()">
				<span ng-bind="ctrl.collection.Name"></span>
			</h2>
		</div>
	</page-header>
	<page-header-right>
		<div class='buttons'>
			<button type='button' class='button' ng-click='ctrl.showAllCollections()'>
				<span class='glyphicon glyphicon-remove'></span>
				<span translate='buttons.close'></span>
			</button>
		</div>
	</page-header-right>
	<page-body>
		TEST: {{ctrl.collection}}
	</page-body>
</page>