<page scrollable-body="true" is-loading="ctrl.isLoading()" disallow-not-logged="true">
	<page-header>
		<h1 translate='publicLibrary.title'></h1>
	</page-header>
	<page-body>
		<div class="full-height" ng-if="ctrl.collection.length == 0">
			<p translate="publicLibrary.noPublicCollections"></p>
		</div>
		<div class="full-height" ng-if="ctrl.collection.length > 0">
			<listable-data list="ctrl.collection"
				refresh-data-action="ctrl.refreshCollectionsList(null, null, true, true)"
				display-directive-name="collection-tile"
				display-directive-parameters = "{readonly: true}"
				filter-function="ctrl.collectionListFilter"
				scrollable-body="true"
				pagination="{maxSize: ctrl.listSize}"
			>
				<listable-data-empty-list>
					<span translate="myLibrary.noCollectionsAfterFiltering"></span>
				</listable-data-empty-list>
			</listable-data>
		</div>
	</page-body>
</page>