<form name="loginForm" class="login-form form-horizontal"
	ng-class="{'has-error' : !loginForm.email.$touched && !loginForm.password.$touched && ctrl.errorOnLogging}">
	<h3 class='title' translate="userPanel.form.title"></h3>

	<span class="error" translate="userPanel.form.error.wrongData"
		ng-if="!loginForm.email.$touched && !loginForm.password.$touched && ctrl.errorOnLogging">
	</span>

	<section class='form-group'
		ng-class="{'has-error' : loginForm.email.$touched && loginForm.email.$invalid}">
		<label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3"
			for="email" translate="userPanel.form.email"></label>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			<input type="email" name="email" class="form-control" id="email"
				ng-model="email"
				ng-attr-placeholder="{{'userPanel.form.email.placeholder' | translate}}"
				ng-required="true" /> 
				<span class='error'
					ng-if="loginForm.email.$touched && loginForm.email.$error.required"
					translate="userPanel.form.error.emptyField">
				</span> 
				<span
					class='error' translate="userPanel.form.error.wrongEmailAddress"
					ng-if="loginForm.email.$touched && loginForm.email.$invalid && !loginForm.email.$error.required">
				</span>
		</div>
	</section>

	<section class='form-group'
		ng-class="{'has-error' : loginForm.password.$touched && loginForm.password.$invalid}">
		<label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3"
			for="email" ng-required="true">Hasło:</label>
		<div class="col-sm-12 col-md-9 col-lg-9">
			<input type="password" name="password" class="form-control"
				ng-model="password" id="password" 
				ng-attr-placeholder="{{'userPanel.form.password.placeholder' | translate}}"
				ng-required="true" /> 
				<span class='error'
					ng-if="loginForm.password.$touched && loginForm.password.$error.required"
					translate="userPanel.form.error.emptyField">
				</span>
		</div>
	</section>

	<section class="buttons text-right">
		<div class='text-left'>
			<a href='#' class='button full-width' ng-click="ctrl.goToRegisterPage()">
				<span class='glyphicon glyphicon-user'></span>
				<span translate="userPanel.form.buttons.register"></span>
			</a> 
			<a href='#' class='button full-width'>
				<span class='glyphicon glyphicon-flag'></span>
				<span translate="userPanel.form.buttons.forgottenPassword"></span>
			</a>
		</div>
		<button type="submit" class='button button-action'
			ng-click="ctrl.logIn(email, password); loginForm.email.$touched = false; loginForm.password.$touched = false;"
			ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid || ctrl.loggingInProcess">
			<span class='glyphicon glyphicon-refresh glyphicon-spin'ng-if="ctrl.loggingInProcess"></span> 
			<span translate="userPanel.form.buttons.password.logIn"></span>
		</button>
	</section>
</form>