<form name='collectionForm' class='form-horizontal'>
	<div class="clickable card user-action" ng-click="ctrl.openCollection(ctrl.item)" ng-class="'tier-0'">
		<header ng-style="{'background-image' : 'url(http://static.swiat-pogody.pl/img/web/bandeaux/pays/polska.jpg)'}">	
			<div class='data-container' ng-switch="ctrl.isEditMode()" >
				<!-- Normal mode -->
				<span ng-switch-default>
					<span ng-if="ctrl.canDisplayActionButtons()">
						<button  class="button button-empty edit-button show-on-hover"
							ng-click="ctrl.openEditMode();"
						>
							<span class='glyphicon glyphicon-pencil'></span>
						</button>
						<button class='button button-empty change-picture-button show-on-hover'
							ng-click="$event.stopPropagation();"
						>
							<span class='glyphicon glyphicon-picture'></span>
						</button>
						<button class="button button-empty remove-button show-on-hover"
							ng-click="ctrl.openRemoveMode();"
						>
							<span class='glyphicon glyphicon-remove'></span>
						</button>
						<button class="button button-empty learning-button show-on-hover" ng-if="ctrl.item.TotalWords > 0"
							ng-click="ctrl.playLearningMode(ctrl.item.Id, ctrl.item.Name);"
						>
							<span class='glyphicon glyphicon-education'></span>
						</button>
					</span>
				</span>
				
				<!-- Edit mode -->
				<span ng-switch-when="true">
					<button type="reset" class="button button-empty cancel-button"
						ng-disabled="ctrl.isCollectionEditing()"
						ng-click="ctrl.switchToNormalMode();$event.stopPropagation(); $event.preventDefault();"
					>
						<span class='glyphicon glyphicon-remove'></span>
					</button>
					<button type="submit" class="button button-empty save-button"
						ng-disabled="ctrl.formData.Name.length == 0 || ctrl.isCollectionEditing() || !ctrl.hasCollectionChanged()"
						ng-click="ctrl.editCollection();$event.stopPropagation(); $event.preventDefault();"
					>
						<span class='glyphicon glyphicon-ok'
							ng-class="{'glyphicon-ok' : !ctrl.isCollectionEditing(),
									   'glyphicon-refresh glyphicon-spin' : ctrl.isCollectionEditing()}"
						></span>
					</button>
				</span>
			</div>	
			<div class='curtain-container'></div>
		</header>
		
		<!-- Delete mode -->
		<section class='card-curtain' ng-if="ctrl.isRemoveMode()">
			<header>
				<h1 translate="button.remove.confirmAction"></h1>
				
				<div class='buttons justify-content'>
					<button class='button button-action'
						ng-click="ctrl.switchToNormalMode();$event.stopPropagation(); $event.preventDefault();"
						ng-disabled="ctrl.isCollectionRemoving()"
					>
						<span class='glyphicon glyphicon-chevron-left'></span>
						<span translate="button.no"></span>
					</button>
					<button class='button button-action'
						ng-click="ctrl.removeCollection(); $event.stopPropagation(); $event.preventDefault();"
						ng-disabled="ctrl.isCollectionRemoving()"
					>
						<span class='glyphicon' 
							ng-class="{'glyphicon-refresh glyphicon-spin' : ctrl.isCollectionRemoving(), 
									   'glyphicon-ok' : !ctrl.isCollectionRemoving()}">
						</span>
						<span translate="button.yes"></span>
					</button>
				</div>
			</header>
		</section>
			
		<section class='card-body'>
			<progress-bar progress="::ctrl.getProgress()" 
				max-progress="::ctrl.item.TotalKnownWords"
				background="#fff"
				tooltip="myLibrary.collections.progressTooltip"
			>
				<progress-content>
					<h3>
						<span ng-bind-html="ctrl.item.TotalKnownWords | highlight: ctrl.searchText"></span>
						<span class='small' ng-bind-html="ctrl.item.TotalWords | highlight: ctrl.searchText"></span>
					</h3>
				</progress-content>
			</progress-bar>
			
			<div class='card-data'>
				<div ng-switch="ctrl.isEditMode()">
					<h1 ng-switch-default ng-bind-html="ctrl.item.Name | highlight: ctrl.searchText"></h1>
					<input ng-switch-when="true" type="input" ng-model="ctrl.formData.Name" auto-focus	use-auto-focus="true"			
						ng-attr-placeholder="{{'myLibrary.addNewCollection.form.collectionName.placeholder' | translate}}"
						name="name"
					/>
				</div>
				
				<div class='text-uppercase'>
					<input type="checkbox" ng-if="ctrl.isEditMode()" ng-model="ctrl.formData.IsPublic"/>
					<!--<span ng-bind-html="'myLibrary.collections.public' | translate | highlight: ctrl.searchText"
						ng-if="ctrl.isEditMode() ? ctrl.formData.IsPublic : ctrl.item.IsPublic">
					</span>!-->
					<span class="glyphicon glyphicon-lock" ng-if="ctrl.isEditMode() ? ctrl.formData.IsPublic : ctrl.item.IsPublic"></span>
				</div>
			</div>
		</section>
	</div>
</form>