<div class='row vertical-middle'>
	<div class='col-xs-4 col-sm-4 col-md-2 col-lg-2'>
		<div class='item-icon-container'>
			<img src="http://download.seaicons.com/download/i78370/iconka/meow/iconka-meow-cat-grumpy.ico" class="item-icon" alt=""/>
		</div>
	</div>
	<div class='col-xs-4 col-sm-4 col-md-6 col-lg-6'>
		<span ng-bind="ctrl.item.Name"></span>
	</div> 
	<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
		<span ng-bind="ctrl.item.TotalWords"></span>
		<span ng-bind="ctrl.item.TotalKnownWords"></span>
	</div> 
</div>