html{
    height:100%;
    width:100%;
}

body{
	height: 100%;
	padding: 70px 0 0 70px;
	background: #404a53;   
}

/* Elementy ogólne */
.full-height{
	height: 100%;
}

.vertical-grid{
	height: 100%;
    display: table;
    width:100%;
    table-layout:fixed;
}

.vertical-grid > *{
	display: table-row;
}

.vertical-grid > .rest-height{
	display: table-row;
	height: 100%;
}

.inline-children > *{
	display: inline-block;
	vertical-align: middle;	
}

.clickable{
	cursor: pointer;
}

.glyphicon-spin {
    animation: spin 1000ms infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.in-parenthesis::before{
	content: "(";
}

.in-parenthesis::after{
	content: ")";
}

/* Page */

/* Main header */
#main-header{
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	left: 0;
	z-index: 15;
}

#main-header .color-bar{
	height: 2px;
}

#main-header .color-bar > *{
	width: 16.6666666%;	
}

#main-header .content{
	height: 68px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 0;
}

#main-header .content .left{
	text-align: left;
}

#main-header .content .right{
	text-align: right;
}

#main-header .content .left .logo{
    white-space: nowrap;
}

#main-header .content .left .logo img{
	max-width: 70px;
	margin-right: 15px;
    padding: 13px 0;
	transition: 0.5s;
}

#main-header .content .left .logo img:hover{
	background:#fba502;
	transition: 0.5s;
}

#main-header .content .left .logo h1{
	margin: 0; 
	color: #fba502;
	padding: 0;
}

/* Page content */
#page-body{
	background: #f5f5f5;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#page-body .page-content{
	height: 100%;
	width: 100%;
}

#page-body .page-content > .scroller {
    height: 100%; 
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#page-body .page-content > .scroller > div{
	height: 100%;
}

#page-body .page-content.with-image > *{
	position: relative;
	z-index: 1;
}

#page-body .page-content.with-image::before{
	content: "";
	position: absolute;
	z-index: 0;
	background: rgba(164, 70, 193, 0.35);
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.5s;
}

#page-body .page-content.with-image:hover::before{
	transition: 0.5s;
    background: rgba(59, 22, 70, 0.6);
}

#page-body .page-content.with-image{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

#page-body .page-content.with-image.studying{
	background-image: url('http://www.americancollegespain.com/pagina/341/are-you-studying-the-right-way-%7C-the-ame.jpg');	
}

#page-body .page-content.with-image.listening{
	background-image: url('http://www.cambridgeenglish.org/static-assets/Images/feature-landing_tcm32-288767.jpg');	
}

#page-body .page-content.with-image.option3{
	background-image: url('https://pace.oregonstate.edu/sites/default/files/styles/course_banner_large/public/images/course/cover/elearning-video-chat.jpg?itok=EO3ZiX9L');	
}

#page-body .page-content .social-panel{
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 20px;
}

/* Page sidebar */
#sidebar{
	height: 100%;
	display: block;
	width: 70px;
	background: #404a53;
	left: 0;
	top: 0;
    z-index: 10;
    transition: 0.5s;
    position: absolute;
    padding-top: 70px;
}

#sidebar ul{
	padding: 0;
	margin: 0;
	list-style: none;	
}

#sidebar ul.bottom{
	position: absolute;
	bottom: 0;
    left: 0;
    width: 100%;
}

#sidebar ul li{
	display: block;
	text-align: center;
	position: relative;
}

#sidebar ul li a{
	display: block;
	height: 100%;
	color: #f5f5f5;
	transition: 0.5s;
	cursor: pointer;
	text-decoration: none;
}

#sidebar ul li a:hover, #sidebar ul li a:active{
	background: #fba502;
	transition: 0.5s;
}

#sidebar ul li a::before{
	content: "";
	display: block;
	padding-top: 20px;
	height: 1px;
}

#sidebar ul li a::after{
	content: "";
	display: block;
	padding-bottom: 20px;
	height: 1px;
}

#sidebar ul li a .glyphicon{
	font-size: 25px;
}

#sidebar ul li a .option-title{
	width: 100%;
	transition: 0.5s;
	display: inline-block;
	font-size: 11px;
}

#sidebar ul li a .option-subtitle{
	font-size: 0;
	transition: 0.1s;
	line-height: 0;
    float: left;
    clear: both;
    display: block;
}

#sidebar ul li.active a{
	background: #fba502;
}

#sidebar ul li.active::after{
	width: 0; 
  	height: 0; 
 	border-top: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #fba502;
  	position: absolute;
  	right: -20px;
  	top: 25%;
  	transition: 0.5s;
  	content: "";
}

#sidebar ul li.active:hover a{
	background: #fb9902;
}

#sidebar ul li.active:hover::after{
	border-left: 20px solid #fb9902;
	transition: 0.5s;
}

/* Sidebar opened */
#sidebar .user-data{
	max-height: 0;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: max-height 0.5s, margin 0.5s, padding 0.5s, background 0.5s, font-size 0.3s;
}

#sidebar.opened{
	width: 400px;
}

#sidebar.opened ul li a .option-subtitle{
	font-size: 9px;
	line-height: normal;
	transition: 0.5s;
}

#sidebar .bottom .glyphicon-chevron-right{
	 transition: 0.5s;
}

#sidebar.opened .bottom .glyphicon-chevron-right{
	 transform: rotate(180deg);
	 transition: 0.5s;
}

#sidebar.opened .user-data{
	background: #f5f5f5;
	font-size: 30px;
	margin: 0;
	padding: 5% 1%;
    max-height: 55%;
	transition: max-height 0.5s, margin 0.5s, padding 0.5s, background 0.5s, font-size 0.3s;
}

#sidebar.opened .user-data .logged-in .avatar-holder img{
	max-width: 100%;
	max-height: 100%;
	transition: 0.5s;
}

#sidebar:not(.opened) .user-data > *{
	font-size: 0;
	line-height: 0;
	margin:0;
	padding:0;
	transition: 0.1s;
}

#sidebar .user-data .logged-in .avatar-holder{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	overflow: hidden;
}

#sidebar .user-data .logged-in .avatar-holder img{
	max-width: 0;
	max-height: 0;
	transition: 0.1s;
}

#sidebar .user-data .logged-in h3{
	padding: 0;
	margin: 0;
}

#sidebar .user-data .logged-in .actions{
	display: block;
	font-size: 13px;
	text-align: left;
}

#sidebar .user-data .logged-in .actions .action{
	padding: 5px 10px;
	text-decoration: none;
}

#sidebar.opened ul li.expandable{
	text-align: left;
}

#sidebar.opened ul li a .option-title{
	transition: 0.5s;
	width: 80%;
	font-size: 15px;
}

#sidebar.opened ul li a .glyphicon{
	margin: 0 5%;
}

#sidebar .login-form {
	margin: 5% 2%;
	font-size: 13px;
}

#sidebar .login-form .title{
	margin-top: 0;
	padding-top: 0;
	color: #404a53;
	border-color: #404a53;
}

#sidebar .login-form .control-label{
	color: #404a53;
}

#sidebar .logged-person-icon{
    width: 75%;
    margin-left: 12%;
    margin-top: 12%;
    height: 53px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom:12%;
}

#sidebar .logged-person-icon img{
	max-width: 100%;
	max-height: 100%;
}

/* Color bars */
.color-bar{
	display: block;
	height: 5px;
}

.color-bar > *{
	float: left;
	height: inherit;
	position: relative;
}

.color-bar > *:not(:last-child)::after{
	content: "";
	height: 100%;
	float: right;
	background: #fff;
	width: 1px;
	display: block;
}

.color-bar > *::before{
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: 1s;
}

.color-bar > *:hover::before{
	background: rgba(255,255,255,0.5);
	transition: 1s;
}

.color-bar .orange{
	background: #ffa800;
}

.color-bar .pink{
	background: #ff5aee;
}

.color-bar .blue{
	background: #1a69e1;
}

.color-bar .violet{
	background: #980bda;
}

.color-bar .red{
	background: #da0b0b;
}

.color-bar .green{
	background: #1dcf00;
}

/* Search bars */
.search-bar{
	border: 1px solid #000;
	padding: 5px;
	background: #fff;
	position: relative;
}

.search-bar > .glyphicon-search{
	position: absolute;
	top: 25%; 
	left: 10px;
	cursor: pointer;
}

.search-bar > input{
	padding-left: 25px;
	background: none;
	border: none;
}

/* Social panel */
.social-panel > a{
	text-decoration: none;
}

.social-panel > a > *{
	background: rgba(255,255,255,0.8);
	transition: 0.5s;
	height: 40px;
	width: 40px;
	display: inline;
	margin-right: 10px;
}

.social-panel .facebook:hover{
	box-shadow: 0px 0px 10px #007dff;
    transition: 0.5s;
}

/* Main page */
.main-page .options{
	position: absolute!important;
	bottom: 0;
	width: 100%;
}

.main-page .options .option{
	opacity: 0.1;
	background: rgba(255,255,255,0.6);
	transition: 0.5s;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.main-page:hover .options .option{
	opacity: 0.8;
}

.main-page .options .option.active, .main-page .options .option.active:hover{
	transition: 0.5s;
	background: #fff;
	opacity: 1;
}

.main-page .options .option.active::before{
	content: "";
	display: block;
	position: absolute;
	top: -45px;
	left: 50px;
	width: 0; 
 	height: 0; 
  	border-left: 45px solid transparent;
  	border-right: 45px solid transparent;
  	border-bottom: 45px solid rgba(255,255,255,0);
  	transition: 0.5s;
}

.main-page .options .option.active::before{
	border-bottom: 45px solid rgba(255,255,255,1);
	transition: 0.5s;
}

.main-page .options .option:hover{
	transition: 0.5s;
	background: rgba(255,255,255,0.95);
}

.main-page .options .option .option-icon{
	max-height: 150px;
	margin: 5% 0;
}

.main-page .text{
	padding: 20% 10%;
	text-align: left;
	color: #fff;
}

.main-page .text h3{
	font-size: 50px;
}

.main-page .text p{
	font-size: 20px;
}

/* Forms */
.form-horizontal > .title{
	display: block;
	text-align: left;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.form-horizontal.with-top-space{
	margin-top: 5%;
}

.form-horizontal .field-section{
	margin: 5% 0;
}

.form-horizontal .field-section > header{
	font-weight: bold;
    color: #808080;
    position: relative;
    margin: 5% 2% 2%;
}

.form-horizontal .field-section.with-separator > header > *{
	position: relative;
	z-index: 1;
	background: #f5f5f5;
	padding: 0 30px;
	margin: 0;
	display: inline-block;
}

.form-horizontal .field-section.with-separator > header::after{
	content: "";
	display: block;
	height: 1px;
	width: 60%;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 0;
	padding: 0;
	background: #808080;
}

.form-horizontal .form-group{
	margin-bottom: 5px;
}

.form-horizontal.no-group-margins .form-group{
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal .form-group .form-control{
	border-radius: 0;
	box-shadow: 0;
}

.form-horizontal .form-group.has-error .form-control,
.form-horizontal .form-group .has-error .form-control,
.form-horizontal .form-group .form-control.has-error,
.form-horizontal.has-error .form-group .form-control{
	border: 1px solid #dc1717;
}

.form-horizontal .buttons{
	display: block;
}

.form-horizontal .buttons > *{
	display: inline-block;
	vertical-align: middle;
}

.form-horizontal .buttons .button{
	border: 0;
	color: #dc1717;
	background: transparent;
	margin: 5px 20px;
	transition: 0.5s;
}

.form-horizontal .buttons .button:disabled,
.form-horizontal .buttons .button:disabled:active,
.form-horizontal .buttons .button:disabled:hover,
.form-horizontal .buttons .button:disabled:focus{
	color: #8e8f94;
	cursor: not-allowed;
	transition: 0.5s;
}

.form-horizontal .buttons .button:hover, 
.form-horizontal .buttons .button:active,
.form-horizontal .buttons .button:focus{
	transition: 0.5s;
	color: #b11919;
}

.form-horizontal .buttons .button:last-child{
	margin-right: 0;	
}

.form-horizontal .buttons .button:first-child{
	margin-left: 0;
}

.form-horizontal .buttons .button.button-action{
	background: #dc1717;
	color: #fff;
	padding: 2% 7%;
}

.form-horizontal .buttons .button.button-action:hover, 
.form-horizontal .buttons .button.button-action:active,
.form-horizontal .buttons .button.button-action:focus{
	background: #b11919;
}

.form-horizontal .buttons .button.button-action:disabled,
.form-horizontal .buttons .button.button-action:disabled:active,
.form-horizontal .buttons .button.button-action:disabled:hover,
.form-horizontal .buttons .button.button-action:disabled:focus{
	background: #8e8f94;
	color: #fff;
}

.form-horizontal .buttons .button.full-width,
.form-horizontal .buttons .button.full-width:first-child,
.form-horizontal .buttons .button.full-width:last-child{
	display: block;
	margin: 5px 20px;
}

.form-horizontal textarea{
    background: #f5f5f5;
    border: 1px solid #808080;
    color: #000;
    width: 100%;
}

.form-horizontal .error{
	color: #da0b0b;
	padding: 5px;
    display: block;
    text-align: left;
}

/* Spinner */
.spinner{
	height: 100%;
	text-align: center;
	line-height: 100px;
	display: block;
	white-space: nowrap;
	color: #808080;
	font-size: 13px;
}

.spinner > *{
	display: inline-block;
	vertical-align: middle;
}

.spinner::before{
	content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* Dev panel */
.dev-panel{
	padding: 0 20px;	
}

.dev-panel .counter{
 	display: inline-block;
    background: rgba(0,0,0,0.3);
    color: #00fd2d;
    border: 1px solid #00fd2d;
    padding: 2px 7px;
    cursor: pointer;
    margin: 0 2px;
    transition: 0.5s;
}

.dev-panel .counter.warning{
	border-color: #ff0000;
	color: #ff0000;
}

.dev-panel .control-button{
	display: inline-block;
	color: #00fd2d;
	background: transparent;
	border: none;
	padding: 0 10px;
	transition: 0.5s;
}

.dev-panel .disabled .counter, .dev-panel .disabled .control-button{
	transition: 0.5s;
    color: #8e948f;
    border-color: #8e948f;
    cursor: not-allowed;
}

.dev-panel .disabled .counter.red{
   background: rgba(0,0,0,0.3);
}

/* Page tiles */
.tile{
	display: block;
	padding: 5%;
	transition: 0.5s;
	position: relative;
}

.tile > *{
	position: relative;
	z-index: 2;
}

.tile .text{
	font-size: 16px;
}

.tile::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	width: 100%;
	height: 100%;
	display: block;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.tile.with-image{
	background: center center no-repeat;
	background-size: cover;
	color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.5), 0 0 5px rgba(0,0,0,0.7);
}

.tile.with-image.people{
	background-image: url('../../images/register/people.png');
}

.tile.zoomable:hover{
	padding: 10% 5%;
	transition: 1.5s;
	transition-delay: 0.5s;
}

.tile.fade-on-hover:hover::before{
	background: rgba(0,0,0,0.3);
	transition: 0.5s;
}

/* Actions */
.user-action .show-on-hover, .user-action:hover .hide-on-hover{
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.user-action:hover  .show-on-hover, .user-action.hide-on-hover{
	transition: 0.5s;
	opacity: 1;
	visibility: visible;
}

/* Error page */
.error-page{
	text-align: center;
}

.error-page h1{
    margin: 0 0 20px 0;
    padding: 2% 0 1%;
    font-size: 50px;
}

.error-page .glyphicon-warning-sign{
	font-size: 200px;
	margin: 2% 0;
}

.error-info{
	text-align: left;
}

.error-info h5{
	font-weight: bold;
}

.error-info textarea{
	transition: 0.5s;
	border: 1px solid #ccc;
	background: rgba(255,255,255,0.6);
	overflow-y: scroll;
}

.error-info textarea:focus, .error-info textarea:hover{
	box-shadow: 0 0 30px rgba(0,0,0,0.6);
	transition: 0.5s;
	border-color: transparent;
	background: rgba(255,255,255,0.8);
}

/* Language picker */
.language-picker .language{
	display: inline-block;
	width: 30px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
	margin: 0 5px;
	transition: 0.5s;
	box-shadow: none;
	border: 1px solid transparent;
	vertical-align: middle;
}

.language-picker .language.active{
	border: 1px solid rgba(255,255,255,0.6);
}

.language-picker .language:hover{
	transition: 0.5s;
	box-shadow: 0 0 20px rgba(255,255,255,0.6);
}

.language-picker .language img{
	width: 100%;
	height: 100%;
	float: left;
}