<div class='listable-data vertical-grid' ng-class="{'list-view' : ctrl.isListMode(), 'grid-view' : ctrl.isGridMode()}">
	<header>
		<div class="btn-group">
		  <button type="button" class="btn button" 
		  	ng-click="ctrl.switchToViewMode('list')"
		  	ng-class="{'active' : ctrl.isListMode()}"
		  >
		  	<span class='glyphicon glyphicon-th-list'></span>
		  </button>
		  <button type="button" class="btn button" 
		  	ng-click="ctrl.switchToViewMode('grid')"
		  	ng-class="{'active' : ctrl.isGridMode()}"
		  >
		  	<span class='glyphicon glyphicon-th'></span>
		  </button>
		  <button type="button" class="btn button" ng-if="ctrl.refreshDataAction" ng-click="ctrl.refreshDataAction()">
		  	<span class='glyphicon glyphicon-refresh'></span>
		  </button>
		</div>
		<section class='right-section'>
			<div class='search-bar with-remove-option' ng-if="ctrl.isSearchModeOn()">
				<span class='glyphicon glyphicon-search'></span>
				<input auto-focus ng-model="ctrl.searchText" ng-attr-placeholder="{{'listableData.searchPlaceholder' | translate}}"/>
				<span class='glyphicon glyphicon-remove remove-option' ng-click="ctrl.switchSearchMode()"></span>
			</div>
			<button type="button" class="btn button" ng-if="!ctrl.isSearchModeOn()" ng-click="ctrl.switchSearchMode()">
				<span class='glyphicon glyphicon-search'></span>
				<span translate="button.search"></span>
			</button>
			<div ng-transclude="headerRight"></div>
		</section>
	</header>
	
	<div class='list rest-height' ng-if="!ctrl.scrollableBody">
		<ng-include src="'angular/components/listable-data/listable-data-list-part.html'"></ng-include>
	</div>
	
	<perfect-scrollbar ng-if="ctrl.scrollableBody" class="rest-height scroller" wheel-propagation="false">
		<div class="list">
			<ng-include src="'angular/components/listable-data/listable-data-list-part.html'"></ng-include>
		</div>
	</perfect-scrollbar> 
</div>